@using PersonalWebsite.Core.Convertors
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>پنل ادمین | @ViewData["Title"]</title>

    <!-- Core CSS - Include with every page -->
    <link href="/AdminContent/css/bootstrap-rtl.css" rel="stylesheet">
    <link href="/AdminContent/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/AdminContent/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/AdminContent/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/AdminContent/css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin">پنل کاربری</a>

            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <h4><i class="fa fa-calendar fa-fw"></i>امروز : @DateTime.Now.ToShamsi()</h4>
                        </li>
                        <li>
                            <a href="/Admin"><i class="fa fa-desktop fa-fw"></i> پنل ادمین</a>
                        </li>
                        <li>
                            <a href="/Admin/ManageUsers"><i class="fa fa-user fa-fw"></i> مشخصات</a>
                        </li>
                        <li>
                            <a href="/Admin/Blogs"><i class="fa fa-book fa-fw"></i> وبلاگ</a>
                        </li>
                        <li>
                            <a href="/Admin/Comments"><i class="fa fa-comment fa-fw"></i> نظرات</a>
                        </li>
                        <li>
                            <a href="/Admin/Contacts"><i class="fa fa-envelope fa-fw"></i> پیام ها</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> رزومه <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AboutUser">درباره من</a>
                                </li>
                                <li>
                                    <a href="/Admin/Skills">مهارت ها</a>
                                </li>
                                <li>
                                    <a href="/Admin/Educations">تحصیلات</a>
                                </li>
                                <li>
                                    <a href="/Admin/Degrees">مدارک و گواهینامه ها</a>
                                </li>
                                <li>
                                    <a href="/Admin/Experiences">تجارب کاری</a>
                                </li>
                                <li>
                                    <a href="/Admin/Projects">پروژه ها</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index"><i class="fa fa-home fa-fw"></i>صفحه اصلی</a>
                        </li>
                        <li>
                            <a class="text text-danger" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out fa-fw"></i>خروج</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
    <script src="/AdminContent/js/jquery-1.10.2.js"></script>
    <script src="/AdminContent/js/bootstrap.min.js"></script>
    <script src="/AdminContent/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/AdminContent/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/AdminContent/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/AdminContent/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="/AdminContent/js/demo/dashboard-demo.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>