@page "{id}"
@model PersonalWebsite.Web.Pages.Admin.Degrees.DeleteDegreeModel
@{
    ViewData["Title"] = "حذف مدرک";
}

<div class="col-md-12">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            حذف مدرک
        </div>
        <div class="panel-body">
            <form method="post">
                <input type="hidden" name="degreeId" value="@ViewData["degreeId"].ToString()" />

                <dl class="dl-horizontal">
                    <dt>عنوان مدرک : </dt>
                    <dd>@Model.Degree.Title</dd>
                    <dt>نام موسسه : </dt>
                    <dd>@Model.Degree.Academy</dd>
                    <dt>تاریخ اخذ مدرک : </dt>
                    <dd>@Model.Degree.ReceivedDate</dd>
                    <dt></dt>
                    <br />
                    <dd>
                        <input type="submit" value="حذف" class="btn btn-warning" />
                        <a href="/Admin/Degrees/Index" class="btn btn-danger">بازگشت</a>
                    </dd>
                </dl>
            </form>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>



