@page
@model PersonalWebsite.Web.Pages.Admin.Degrees.IndexModel
@{
    ViewData["Title"] = "مدارک و گواهینامه ها";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست سوابق</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                مدارک و گواهینامه های من
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="col-md-12" style="margin: 10px 0;">
                    <a asp-page="AddDegree" class="btn btn-outline btn-success">افزودن گواهینامه جدید</a>
                </div>
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row"><div class="col-sm-6"><div class="dataTables_length" id="dataTables-example_length"></div></div><div class="col-sm-6"><div id="dataTables-example_filter" class="dataTables_filter"></div></div></div>
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr>
                                    <th>عنوان مدرک</th>
                                    <th>نام موسسه</th>
                                    <th>تاریخ اخذ</th>
                                    <th>دستورات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var degree in Model.Degrees)
                                {
                                    <tr>
                                        <td>@degree.Title</td>
                                        <td>@degree.Academy</td>
                                        <td>@degree.ReceivedDate</td>
                                        <td>
                                            <a href="/Admin/Degrees/EditDegree/@degree.DegreeId" class="btn btn-warning btn-sm">ویرایش</a>
                                            <a href="/Admin/Degrees/DeleteDegree/@degree.DegreeId" class="btn btn-danger btn-sm">حذف</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

