@model IEnumerable<PersonalWebsite.DataLayer.Entities.User.AboutUser>

<div class="wpb_wrapper">
    <div class="wpb_content_element vc_hireme_about">
        @foreach (var item in Model)
        {
            <div class="about-sh-left">
                <div class="about-sh-title">@item.FullName</div>
                <div class="about-sh-subtitle">توسعه دهنده دات نت / مهندس نرم افزار</div>
                <div class="about-sh-border"></div>
                <div class="about-sh-content">@item.Bio</div>
            </div>
            <div class="about-sh-right about-sh-image">
                <img src="~/UserProfile/@item.ImageProfile" alt="@item.FullName" />
                <div class="about-sh-line-start"></div>
                <div class="about-sh-line-end"></div>
            </div>
            <div class="clear"></div>
        }
    </div>
</div>






